{% extends "mobile_layout.html" %}
{% block content %}


<div data-role="page" id="photos">
	<header data-role="header">
		<h1>Pedido en linea</h1>
	</header>
	<article data-role="content">
		<ul data-role="listview"  data-filter="true">
		{% if list_categories %}
    		{% for categoria in list_categories %}
			<li>
				<a href="#dog">
				<h1>{{categoria.nombre}}</h1>
				<p>{{categoria.descripcion}}</p>
				</a>
			</li>
		    {% endfor %}
		{% endif %}
		</ul>
	</article>
	<footer data-role="footer" data-position="fixed">
		<nav data-role="navbar">
			<ul>
				<li><a href="Photos" data-icon="grid">Modificar</a></li>
				<li><a href="Info" data-icon="info">Pedir</a></li>
			</ul>
		</nav>
	</footer>
</div><!-- Page Photos -->

	<div data-role="page" id="dog">
		<header data-role="header">
			<h1>Min Pin</h1>
			<a href="#photos" data-icon="grid" data-iconpos="notext">Photos</a>
		</header>
		<img src="images/doggie.jpg" class="fullscreen" alt="Min Pin" />
	</div><!-- Page Dog -->
	
	<div data-role="page" id="gummies">
		<header data-role="header">
			<h1>Gummy Bears</h1>
			<a href="#photos" data-icon="grid" data-iconpos="notext">Photos</a>
		</header>
		<img src="images/gummies.jpg" class="fullscreen" alt="Gummy Bears" />
	</div><!-- Page Gummy Bears --> 


{% endblock %}