{% extends "base_layout.html" %}
{% block content %}
<div class="col-lg-12 page-header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Opciones</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Venta</a></li>
          <li><a href="/ventas/listar/">Pedido</a></li>
          <li><a href="/ventas/">Nuevo</a></li>
        </ul>
        <form id="frm-buscar" class="navbar-form navbar-left" role="search" action="/ventas/fac/">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Buscar factura (Codigo)" name="nroFact" size="30">
          </div> 
          <button type="button" class="btn btn-default btn-md">
          <span class="glyphicon glyphicon-search"></span></button>  
        </form>
        <ul class="nav navbar-nav">
          <li><a href="#">Anular</a></li>
          <li><a href="#">Imprimir</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/admin/logout">Salir</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <form  id="frm-maestro" class="form-horizontal" role="form" action="">
    {% csrf_token %}  
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><font size="3">Datos Maestro.</font></h3>
      </div>  
      <div class="panel-body"> 
        <div class="form-group">
          <label for="factura" class="col-md-1 control-label">Factura:</label>
          <div class="col-lg-5">
            <span class="input-group-lg">
              <input type="text" class="form-control" id="factura" name="factura" placeholder="Factura" size="20" readonly="true"> 
              <input type="hidden" name="idFactura" id="idFactura" value="{{ventaMaestro.id}}"> 
            </span>
          </div>
          <label for="fecha" class="col-md-1 control-label">Fecha:</label>
          <div class="col-lg-2">
            <div class="input-group-lg">
              <input type="text" class="form-control" id="fecha" name="fecha" placeholder="Fecha" readonly="true" value="{{ ventaMaestro.fechaVenta|date:"D d M Y" }}">
             </div>
          </div>
          <label for="fecha" class="col-md-1 control-label">Hora:</label>
          <div class="col-lg-2">
            <div class="input-group-lg">
             <input type="text" class="form-control" id="hora" name="hora" placeholder="Hora" readonly="true" value="{{ ventaMaestro.fechaVenta|time:"h:i A"}}">
           </div>
          </div>
          <label for="cliente" class="col-md-1 control-label">Cliente:</label>    
          <div class="col-lg-5">
            <div class="input-group input-group-lg">
              <input type="text" class="form-control" id="cliente_p" name="cliente_p" placeholder="Cliente">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-lg">+</button>
              </span>
            </div>
          </div>
          <label for="vendedor" class="col-md-1 control-label">Vendedor:</label>    
          <div class="col-lg-5">
            <div class="input-group-lg">
              <input type="text" class="form-control" id="vendedor_p" name="vendedor_p" placeholder="Vendedor">
            </div>
          </div>

          <label for="mesa" class="col-md-1 control-label">Mesa:</label>    
          <div class="col-lg-5">
            <div class="input-group-lg">
              <input type="text" class="form-control" id="mesa_p" name="mesa_p" placeholder="Mesa" value="{{ventaMaestro.mesa}}">
            </div>
          </div>
          <label for="propina" class="col-md-1 control-label">Propina:</label>
          <div class="col-lg-5">
            <div class="input-group input-group-lg">
              <input type="text" class="form-control" id="propina_p" name="propina_p" placeholder="Propina" value="{{ventaMaestro.valorPropina|default_if_none:"nothing"}}">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-lg">%</button>
                <button type="button" class="btn btn-default btn-lg">$</button>
              </span>
            </div>
          </div>
          <div class="col-lg-12" align="center">
            <div class="btn btn-primary btn-lg col-md-12">
              <button type="button" class="btn btn-default btn-lg" id="btn-registrar-maestro">Registrar Maestro</button>
            </div>
          </div>
        </div>        
      </div>
    </div>
    </form>
    
    <form id="frm-detalle" class="form-inline" role="form" action="">
      {% csrf_token %}
      <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><font size="4">Datos Detalle.</font></h3>
      </div>
      <div class="panel-body form-inline">
        <div class="col-lg-12">
          <div class="form-group"> 
            <div class="input-group">
              <label class="sr-only" for="n_producto_p">Cod.Producto</label>
              <input type="hidden" name="idproducto_p" id="idproducto_p"> 
              <input type="text" class="form-control typeahead tt-query" id="n_producto_p" name="n_producto_p" placeholder="Código" size="10"> 
            </div>

            <div class="input-group">
            <label class="sr-only" for="producto">Producto</label>
                <input type="text" class="form-control" id="producto_p" name="producto_p" placeholder="Producto" size="30">
            </div>
            <div class="input-group">
              <label class="sr-only" for="cantidad_p">Cantidad</label>
              <input type="text" class="form-control" id="cantidad_p" name="cantidad_p" placeholder="Cantidad" value="1" size="3">
            </div>
            <div class="input-group">
              <label class="sr-only" for="descuento_p">Descuento</label>
              <input type="text" class="form-control" id="descuento_p" name="descuento_p" placeholder="Descuento" size="6" value="0">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default btn">%</button>
                <button type="button" class="btn btn-default btn">$</button>
              </span>
            </div>
            <div class="input-group">
              <label class="sr-only" for="unitario_p">Valor Unitario</label>
              <span class="input-group-addon">v/u</span>
              <input type="text" class="form-control" id="unitario_p" name="unitario_p" placeholder="Valor Unitario" size="6" readonly="true" value="1000">
            </div>
            <div class="input-group">
              <label class="sr-only" for="valori_p">Valor IVA</label>
              <span class="input-group-addon">iva</span>
              <input type="text" class="form-control" id="valori_p" name="valori_p" placeholder="Valor IVA" size="6" readonly="true" value="0">
            </div>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <label class="sr-only" for="valort_p">Valor Total</label>
              <input type="text" class="form-control" id="valort_p" name="valort_p" placeholder="Valor Total" size="6" readonly="true">
            </div>
            <input type="hidden" name="idFacturaD" id="idFacturaD" value="{{ventaMaestro.id}}"> 
            <button type="button" id="btn-add-detalle" class="btn btn-primary btn-lg">+</button>
            <button type="reset" class="btn btn-danger btn-lg">C</button>
          </div> 
        </div>   
      </div>
     </div> 
  </form>

  <div class="col-12-lg">
    <div class="panel panel-primary page-header">
      <div class="panel-heading">Listado de productos. <strong>Fecha: </strong> Lunes, 6 de octubre de 2014</div>
        <div class="panel-body table-responsive">
          <table id="tbl-detalles" class="table table-striped table-hover" width="100%">
            <thead>
              <tr>
                <th width="10%">Código</th>
                <th width="40%">Descripción</th>
                <th width="10%">Cantidad</th>
                <th width="10%">Descuento</th>
                <th width="10%">Valor</th>
                <th width="10%">IVA</th>
                <th width="10%">Total</th>
                <th width="10%">Opciones</th>
              </tr>
            </thead>
            <tbody>
              {% for detalle in listDetalles %}
                <tr>
                  <td>{{detalle.producto.codigo}}</td>
                  <td>{{detalle.producto}}</td>
                  <td>{{detalle.cantidad}}</td>
                  <td>$ {{detalle.descuento}}</td>
                  <td>$ {{detalle.valorUni}}</td>
                  <td>$ {{detalle.iva}}</td>
                  <td>$ {% widthratio detalle.valorUni 1 detalle.cantidad %}</td>
                  <td><button type="button" class="btn btn-default btn-xs">
                      <a href=""><span class="glyphicon glyphicon-edit"></span></a></button>
                    <button type="button" class="btn btn-default btn-xs">
                      <a href=""><span class="glyphicon glyphicon-trash"></span></a></button>
                  </td>
                </tr>
               {% endfor %}
            <!--<tr>
              <td>1001</td>
              <td>Gaseosa 350</td>
              <td>1</td>
              <td>0</td>
              <td>$ 1500</td>
              <td>$ 150</td>
              <td>$ 1650</td>
              <td><button type="button" class="btn btn-default btn-xs">
                  <a href=""><span class="glyphicon glyphicon-edit"></span></a></button>
                <button type="button" class="btn btn-default btn-xs">
                  <a href=""><span class="glyphicon glyphicon-trash"></span></a></button>
              </td>
            </tr>-->
            <tr class="info">
                <td colspan="6"><strong>Sub-Total</strong></td>
                <td colspan="2" id="td-maestro-subtotal"><strong>$ 0.00</strong></td>
            </tr>
            <tr class="info">
                <td colspan="6"><strong>IVA</strong></td>
                <td colspan="2" id="td-maestro-iva"><strong>$ 0.00</strong></td>
            </tr>
            <tr class="info">
                <td colspan="6"><strong>Total</strong></td>
                <td colspan="2" id="td-maestro-total"><strong>$ 0.00</strong></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <div class="panel-footer"><a href="http://www.softwarenaranja.com">Informes y ventas</a> Todos los derechos reservados - &copy Copyright 2014 - ipos++</div>


<!-- Mostrar factura -->
    <div class="modal fade" id="venta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Factura de venta</h4>
          </div>
          <div class="modal-body">
            <p>
              Empresa <br/>
              Nit <br/>
              Dirección <br/>
              Telefono <br/>
            </p>
            <p>
              Cliente:
              CC/Nit: 
              Dirección:
              Teléfono:
            </p>
            <table class="table-responsive">
              <tr><th>Producto</th><th>Cant.</th><th>Valor</th></tr>
              <tr><td>Gaseosa 350</td><td>1</td><td>1500</td></tr>
              <tr><td>Pandebono</td><td>1</td><td>1000</td></tr>
              <tr><td>Empanada</td><td>1</td><td>800</td></tr>
              <tr><td colspan="2">Total</td><td>3300</td></tr>
            </table>  
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary">Imprimir</button>
          </div>
        </div>
      </div>
    </div>  
{% endblock %}