{% extends "base_layout.html" %}
{% block content %}
{% load security_tags %}
<!--Barra de navegación-->
<div class="col-lg-12 page-header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Opciones</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Venta</a></li>
          <li><a href="/ventas/"><font color="#0174DF">Nuevo</font></a></li>
        </ul>
        <form id="frm-buscar" class="navbar-form navbar-left" role="search" action="/ventas/fac/">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Factura o mesa" name="nroFact" size="30">
          </div> 
          <button type="button" class="btn btn-default btn-md" id="btn-buscarfactura">
          <span class="glyphicon glyphicon-search"></span></button>  
        </form>
        <ul class="nav navbar-nav">
          <li id="btn-anular"><a href="#">Anular</a></li>
          <li><a href="#" id="btn-imprimir" data-toggle="modal" data-target="#venta">Imprimir</a></li>
          <li><a href="#" id="btn-pagar" data-toggle="modal" data-target="#registrar_pago"><font color="#31B404"><strong>Registrar Pago</font></strong></a></li>
        </ul>
        <!--
        <ul class="nav navbar-nav">
          <li><button class="btn btn-danger btn-lg">Anular</button></li>
          <li><button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#venta">Imprimir</button></li>
        </ul>
        -->
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/admin/logout">Salir</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
<!--Panel Maestro de venta -->
  <form  id="frm-maestro" class="form-horizontal" role="form" action="">
    {% csrf_token %}  
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><font size="3">Datos Maestro.</font></h3>
      </div>  
      <div class="panel-body"> 
        <div class="form-group has-success">
          <label for="factura" class="col-md-1 control-label">Factura:</label>
          <div class="col-lg-5 col-md-5">
            <span class="input-group-lg">
              <input type="text" class="form-control" id="factura" name="factura" placeholder="Factura" size="20" readonly="true"> 
              <input type="hidden" name="idFactura" id="idFactura" value="{{ventaMaestro.id|default_if_none:""}}"> 
            </span>
          </div>
          <label for="fecha" class="col-md-1 control-label">Fecha:</label>
          <div class="col-lg-2 col-md-2">
            <div class="input-group-lg">
              <input type="text" class="form-control" id="fecha" name="fecha" placeholder="Fecha" readonly="true" value="{{ ventaMaestro.fechaVenta|date:"D d M Y" }}">
             </div>
          </div>
          <label for="fecha" class="col-md-1 control-label">Hora:</label>
          <div class="col-lg-2 col-md-2">
            <div class="input-group-lg">
             <input type="text" class="form-control" id="hora" name="hora" placeholder="Hora" readonly="true" value="{{ ventaMaestro.fechaVenta|time:"h:i A"}}">
           </div>
          </div>
        </div>
        <div class="form-group">
          <label for="cliente" class="col-md-1 control-label">Cliente:</label>    
          <div class="col-lg-5 col-md-5">
            <div class="input-group input-group-lg">
              <input type="text" class="form-control typeahead thead-lg" id="cliente_p" name="cliente_p" placeholder="Cliente" value="{{ventaMaestro.cliente.last_name}} {{ventaMaestro.cliente.first_name}}">
              <input type="hidden" id="idcliente_p" name="idcliente_p" value="{{ventaMaestro.cliente.id}}">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#cliente">+</button>
              </span>
            </div>
          </div>
        
          <label for="vendedor" class="col-md-1 control-label">Vendedor:</label>    
          <div class="col-lg-5 col-md-5">
            <div class="input-group-lg">
              <input type="text" class="form-control typeahead thead-lg" id="vendedor_p" name="vendedor_p" placeholder="Vendedor" value="{{ventaMaestro.vendedor.last_name}} {{ventaMaestro.vendedor.first_name}}">
              <input type="hidden" id="idvendedor_p" name="idvendedor_p" value="{{ventaMaestro.vendedor.id}}" >
            </div>
          </div>
        </div>
          <div class="form-group">
          <label for="mesa" class="col-md-1 control-label">Mesa:</label>    
          <div class="col-lg-5 col-md-5">
            <div class="input-group-lg">
              <input type="text" class="form-control" id="mesa_p" name="mesa_p" placeholder="Mesa" value="{{ventaMaestro.mesa}}">
            </div>
          </div>
          <label for="mesa" class="col-md-1 control-label"></label>
          <div class="btn-lg col-md-5">
            <button type="button" class="btn btn-primary btn-lg" id="btn-registrar-maestro">Guardar</button>
          </div>
        </div>        
      </div>
    </div>
  </form>
<!--Panel detalle de venta-->
  <form id="frm-detalle" class="form-group" role="form" action="">
  {% csrf_token %}
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><font size="3">Datos detalle.</font></h3>
      </div>  
      <div class="panel-body">
        <div class="col-md-12">
          <div class="form-group row">
            <label  for="n_producto_p" class="col-md-1 control-label">Cod.Producto</label>
            <div class="col-md-2">
              <input type="hidden" name="idproducto_p" id="idproducto_p"> 
              <input type="hidden" name="iddetalle_p" id="iddetalle_p"> 
              <input type="text" class="form-control typeahead" id="n_producto_p" name="n_producto_p" placeholder="Código" size="10">
            </div>
            <label for="producto" class="col-md-1 control-label">Producto</label>
            <div class="col-md-2">
              <input type="text" class="form-control typeahead" id="producto_p" name="producto_p" placeholder="Producto" size="30">
            </div>
            <label for="cantidad_p" class="col-md-1 control-label">Cantidad</label>
            <div class="col-md-2">
              <input type="text" class="form-control" id="cantidad_p" name="cantidad_p" placeholder="Cantidad" value="1" size="3">
            </div>
            <label for="descuento_p" class="col-md-1 control-label">Descuento</label>
            <div class="col-md-2 input-group">
              <input type="text" class="form-control" id="descuento_p" name="descuento_p" placeholder="Descuento" size="6" value="0">
              <span class="input-group-btn">
              <button type="button" class="btn btn-default btn">%</button>
              <button type="button" class="btn btn-default btn">$</button>
              </span>            
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group has-success row">
            <label for="unitario_p" class="col-md-1 control-label">Valor Unitario</label>
            <div class="col-md-2">
              <input type="text" class="form-control" id="unitario_p" name="unitario_p" placeholder="Valor Unitario" size="6" readonly="true" value="1000" tabindex=0>
            </div>
            <label for="valori_p" class="col-md-1 control-label">Valor IVA</label>
            <div class="col-md-2">
              <input type="text" class="form-control" id="valori_p" name="valori_p" placeholder="Valor IVA" size="6" readonly="true" value="0" tabindex=0>
            </div>
            <label for="valort_p" class="col-md-1 control-label">Valor Total</label>  
            <div class="col-md-2">
              <input type="text" class="form-control" id="valort_p" name="valort_p" placeholder="Valor Total" size="6" readonly="true" tabindex=0>
              <input type="hidden" name="idFacturaD" id="idFacturaD" value="{{ventaMaestro.id|default_if_none:""}}">
            </div>
            <label for="opc1" class="sr-only">Opciones</label>  
            <div class="col-md-2">
              <button type="button" id="btn-add-detalle" class="btn btn-primary btn-lg">+</button>
              <button type="reset" class="btn btn-danger btn-lg">C</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
    
    
  <div class="col-12-lg">
    <div class="panel panel-primary page-header">
      <div class="panel-heading">Listado de productos.</div>
        <div class="panel-body table-responsive">
          <table id="tbl-detalles" class="table table-striped table-hover" width="100%">
            <thead>
              <tr>
                <th width="10%">Código</th>
                <th width="30%">Descripción</th>
                <th width="10%">Cantidad</th>
                <th width="10%">Descuento</th>
                <th width="10%">Valor</th>
                <th width="10%">IVA</th>
                <th width="10%">Total</th>
                <th width="20%">Opciones</th>
              </tr>
            </thead>
            <tbody>
              {% for detalle in listDetalles %}
                <tr>
                  <td><spam class="hide">{{detalle.id}}</spam><spam class="hide">{{detalle.producto.id}}</spam><spam>{{detalle.producto.codigo}}</spam></td>
                  <td>{{detalle.producto}}</td>
                  <td>{{detalle.cantidad}}</td>
                  <td><spam>$</spam><spam>{{detalle.descuento}}</spam></td>
                  <td><spam>$</spam><spam>{{detalle.valorUni}}</spam></td>
                  <td><spam>{{detalle.iva}}</spam><spam>%</spam></td>
                  <td><spam>$</spam><spam>{{ dictTotales|access:detalle.id }}</spam></td>
                  <td><button type="button" class="btn-editItem btn btn-default btn-sm">
                      <span class="glyphicon glyphicon-edit"></span></button>
                    <button type="button" class="btn-delItem btn btn-default btn-sm">
                      <span class="glyphicon glyphicon-trash"></span></button>
                    <button type="button" class="btn-obserItem btn btn-default btn-sm">
                      <span class="glyphicon glyphicon-eye-open"></span></button>
                  </td>
                </tr>
               {% endfor %}
            
            <tr class="info subtotal">
                <td colspan="6"><strong>Sub-Total</strong></td>
                <td colspan="2" id="td-maestro-subtotal"><strong>$</strong><strong>{{ dictTotales|access:'subTotal'}}</strong></td>
            </tr>
            <tr class="info iva">
                <td colspan="6"><strong>IVA</strong></td>
                <td colspan="2" id="td-maestro-iva"><strong>$</strong><strong>{{ dictTotales|access:'ivaTotal'}}</strong></td>
            </tr>
            <tr class="info total">
                <td colspan="6"><strong>Total</strong></td>
                <td colspan="2" id="td-maestro-total"><strong>$</strong><strong>{{ dictTotales|access:'granTotal'}}</strong></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <div class="panel-footer"><a href="http://www.softwarenaranja.com">Informes y ventas</a> Todos los derechos reservados - &copy Copyright 2014 - ipos++</div>


<!-- Mostrar factura -->
    <div class="modal fade" id="venta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Pedido: 1</h4>
          </div>
          <div id="facturita">
          <div class="modal-body"style="width:300px">
            <p align="center">
              PASTELERIA LA LUCERNA S.A.S <br/>
              Nit: 891410059 REGIMEN COMUN <br/>
              CL 19 NO 6-43 <br/>
              Teléfono: 3250251 <br/>
              Ciudad: Pereira <br/>
              Fecha Hora Impr.: 11/10/2014 - 17:15:22
            </p>
            <p>
              Factura de venta - No CA12345<br/>
              Fecha: 11/10/2014 Hora: 17:54<br/>
              Cajero: Cajero Admin<br/>
              Caja: No. 1<br/>
              <div>__________________________________</div>
              Cliente: Público General<br/>
              CC/Nit: <br/>
              Dirección: AV SUR 50-03 BL6 APTO 205
              Teléfono: 3407030
            </p>
            <table class="table-responsive" style="width:300px">
              <tr><th width="70%">Producto</th><th width="10%">Cant.</th><th width="20%">Valor</th></tr>
              <tr><td>ensalada cesar con un toque de esencias especiales</td><td>1</td><td>1500</td></tr>
              <tr><td>Pandebono</td><td>1</td><td>2000</td></tr>
              <tr><td>Gaseosa 350</td><td>1</td><td>1500</td></tr>
              <tr><td colspan="3">___________________________________</td></tr>
              <tr><td colspan="2">Impuesto 8%</td><td>280</td></tr>
              <tr><td colspan="2">Total</td><td>3780</td></tr>
              <tr><td colspan="2">Valor Entregado</td><td>4000</td></tr>
              <tr><td colspan="2">Cambio</td><td>220</td></tr>
            </table> 
            <p>
              AUTORIZACION NUMERACION SEGUN RESOLUCION<br/>
              No. 160000099815 del 06/06/2013<br/>
              del 1300460 al CA5-10000000<br/>
              GRACIAS POR SU COMPRA<br/>
            </p>
            <p>
              IPOS - www.softwarenaranja.com<br/>
              Telefono: 3407030
            </p> 
          </div>
        </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary">Imprimir</button>
          </div>
        </div>
      </div>
    </div>
   
    <!-- Formulario Cliente -->
    <div class="modal fade" id="cliente">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Ingresar cliente.</h4>
          </div>
          <div class="modal-body">
            <form  id="frm-cliente" class="form-horizontal" role="form" action="">
              <div class="form-group">
                <label for="cliente" class="col-lg-2 control-label">Cliente:</label>
                <div class="col-lg-10">
                  <span class="input-group-lg">
                    <input type="text" class="form-control" id="cliente_n" name="cliente_n" placeholder="Nombre y Apellido"> 
                  </span>
                </div>
                
                <label for="correo" class="col-lg-2 control-label">Correo:</label>
                <div class="col-lg-10">
                  <span class="input-group input-group-lg">   
                  <input type="text" class="form-control" id="usumail_n" name="usumail_n" placeholder="Correo electrónico"> 
                  <span class="input-group-addon">@</span>
                    <input type="text" class="form-control" id="dominio_n" name="dominio_n" placeholder="Dominio">
                   </span>  
                </div>
                <label for="identidad_n" class="col-lg-2 control-label">Documento:</label>
                <div class="col-lg-10">
                  <span class="input-group-lg">
                    <input type="text" class="form-control" id="identidad_n" name="identidad_n" placeholder="Ident."> 
                  </span>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary btn-lg">Guardar</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

<!-- Formulario registro_pago -->
    <div class="modal fade" id="registrar_pago">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Registrar pago.</h4>
          </div>
          <div class="modal-body">
            <form  id="frm-registro" class="form-horizontal" role="form" action="">
              <div class="form-group"> 
                <div class="col-lg-12" align="right">
                  <h1>Sub-total: <span id="vlr-spagar" class="label label-primary">$ 5.000</span></h1>
                </div>
              </div> 
              <div class="form-group"> 
                <label for="efectivo" class="col-lg-4 control-label">Acepta propina:</label>
                <div class="col-lg-8">
                  <div class="input-group input-group-lg">
                    <div class="btn-group">
                       <label class="btn btn-primary">
                        <input name="acep-prop" type="radio" value="si"> SI
                      </label>
                      <label class="btn btn-danger">
                        <input name="acep-prop" type="radio" value="no"> NO
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="propina" class="col-md-4 control-label">Propina:</label>
                <div class="col-lg-8">
                  <div class="input-group input-group-lg">
                    <span class="input-group-addon">
                       % <input name="porc" id="prop-porc" type="radio" value="1"> $ <input name="porc" id="prop-vlr" type="radio" value="2">
                    </span>
                    <input type="text" class="form-control" id="propina_p" name="propina_p" placeholder="Propina" value="{{ventaMaestro.valorPropina|default_if_none:"nothing"}}">
                  </div>
                </div>
              </div>

              <div class="form-group">        
                <label for="descuento" class="col-md-4 control-label">Descuento:</label>
                <div class="col-lg-8 col-md-8">
                  <div class="input-group input-group-lg">
                    <span class="input-group-addon">
                      % <input name="desc" id="desc-porc" type="radio" value="1"> $ <input name="desc" id="desc-vlr" type="radio" value="2">
                    </span>
                    <input type="text" class="form-control" id="descuento_p" name="descuento_p" placeholder="Descuento" value="{{ventaMaestro.valorDescuento|default_if_none:"nothing"}}">
                  </div>
                </div>
              </div>

              <div class="form-group"> 
                <div class="col-lg-12" align="right">
                  <h1>Total: <span id="vlr-tpagar" class="label label-success">$ 5.000</span></h1>
                </div>
              </div> 

              <div class="form-group">
                <label for="efectivo" class="col-lg-4 control-label">Efectivo:</label>
                <div class="col-lg-8">
                  <span class="input-group-lg">
                    <input type="text" class="form-control" id="vlr-efectivo" name="vlr-efectivo" placeholder="Valor efectivo"> 
                  </span>
                </div>
              </div>

              <div class="form-group">
                <label for="debito" class="col-lg-4 control-label">T. Débito:</label>
                <div class="col-lg-8">
                  <span class="input-group-lg">
                    <input type="text" class="form-control" id="vlr-tDebito" name="vlr-tDebito" placeholder="Valor tarjeta débito"> 
                  </span>
                </div>
              </div>

              <div class="form-group">
                <label for="credito" class="col-lg-4 control-label">T. Crédito:</label>
                <div class="col-lg-8">
                  <span class="input-group-lg">
                    <input type="text" class="form-control" id="vlr-tCredito" name="vlr-tCredito" placeholder="Valor tarjeta Crédito"> 
                  </span>
                </div>
              </div>
                
              <div class="form-group has-success">
                <label for="vlr-cambio" class="col-lg-4 control-label">Cambio:</label>
                <div class="col-lg-8">
                  <span class="input-group-lg">
                    <input type="text" class="form-control" id="vlr-cambio" name="vlr-cambio" placeholder="Cambio" readonly="true"> 
                  </span>
                </div>
              </div>
            
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary btn-lg">Imprimir</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
{% endblock %}